extends layout.pug

block head
  title Books

block content
  h1 Books
  div.create
    p
      a.button(href='/books/new') Create New Book
  div.search
    form.search(method="post" action="/books")
      button#search(type="submit") Search
      input.search(placeholder="title, author, etc..." name="searchInput")
  
  if books.length === 0
    h2 Sorry, No results found.
  else   
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.id)=book.title
            td=book.author
            td=book.genre
            td=book.year
    if pages
      div.pagination
        ul
          each page in pages
            li
              a(href="?page=" + page)=page
          
